@font-face {
  font-family: "Sansumi";
  src: url("../assets/fonts/Sansumi-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sansumi";
  src: url("../assets/fonts/Sansumi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sansumi";
  src: url("../assets/fonts/Sansumi-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sansumi";
  src: url("../assets/fonts/Sansumi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
